*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
  font-family: 'Montserrat', sans-serif;
}

main{
    width: 100%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*1-2-3*/

.right{
    display:inline-block;
    float:right;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight:900;
    margin: 30px 20px 15px;
    border-radius: 50%;
    padding: 10px 15px;
}
/*red container*/

.red{
    position: relative;
    height: 100vh;
    background-color: red;
    color: yellow;
}

/*green container*/

.green{
    position: relative;
    height: 100vh;
    background-color: green;
    color: yellow;
}

/*yellow container*/

.yellow{
    position: relative;
    height: 100vh;
    background-color: yellow;
    color: green;
}

#centered_product{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*images*/

img{
    height: 350px;
}

/*description paragraph*/

p{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    word-spacing: 12px;
}




